<h1>Add exercises to plan <%-plan.name %></h1>
<link rel="stylesheet" href="/stylesheets/style.css" />
<form class="formContainer" action="/auth/prf/searchUpdate_results/<%-plan._id%>" method="get">
  <input type="text" class="searchBox" name="query" placeholder="Enter exercise keyword">
  <button type="submit" class="searchButton">Search</button>
</form>
<% if (typeof results !== 'undefined') { %>
<div>
  <h1>Search Results</h1>
  <% if (results.length === 0) { %>
  <p>No results found.</p>
  <% } else { %>
  <ul>
    <% results.forEach(exercise => { %>
    <li>
      <h2><%= exercise.name %></h2>
      <p>Force: <%= exercise.force %></p>
      <button type="submit" class="searchButton">
        <a href="/auth/prf/update/<%= plan._id %>/<%= exercise.name %>">Add to plan</a>
    </button>
      <!-- Add other exercise details as needed -->
    </li>
    <% }) %>
  </ul>
  <% } %>
  <a href="/auth/prf/mainPage">Go back to Main Page</a>
</div>
<% } %>